---
layout: main
---

{% if site.paginate %}
    {% assign posts = paginator.posts | where_exp:"post","post.is_generated != true" %}
{% else %}
    {% assign posts = site.posts | where_exp:"post","post.is_generated != true" %}
{% endif %}

{% if site.show_hero and paginator == nil or paginator.page == 1 %}
    {% assign offset = 1 %}
{% else %}
    {% assign offset = 0 %}
{% endif %}

<style type="text/css"> 
    a:link 
    { 
    text-decoration:none; 
    } 
</style>

<main class="home {% if site.show_hero and paginator == nil or paginator.page == 1 %}no-padding{% endif %}" role="main">
    {% if site.show_hero and paginator == nil or paginator.page == 1 %}
        <!-- Hero -->
        {% assign featured = posts.first %}

        <section class="hero" style="background-image: url({{ featured.imageGIF }})">
        <section class="hero" style="background-image: url({{ featured.imageMP4 }})">
            <section class="hero" style="background-image: url({{ featured.imageWEBM }})">

            <div class="pixels"></div>
            <div class="gradient"></div>
            <div class="content">
                <a class="title" href="{{ site.url }}{{site.baseurl}}/about">{{ featured.title }}</a>
                <p class="description">{{ featured.subtitle }}</p>
                <div class="buttons">
                    <a href="{{ site.url }}{{site.baseurl}}/movies" role="button" class="button">
                        <img src="/assets/img/icons/film.svg">
                        <span>Películas </span>
                    </a>
                    <a href="{{ site.url }}{{site.baseurl}}/directors" role="button" class="button">
                        <img src="/assets/img/icons/director.svg">
                        <span>Directores</span>
                    </a>
                    <a href="{{ site.url }}{{site.baseurl}}/contact" role="button" class="button">
                        <img src="/assets/img/icons/mail.svg">
                        <span>Contacto </span>
                    </a>
                </div>
            </div>
        </section>
    {% endif %}